@media only screen and (max-width:1300px){
body{
    background-color: rgb(197, 197, 196);
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 74, 74, 0.5)), url(./image/1.jpg);
    background-position: relative;
    background-size: 100%;
}

.link{
    text-decoration: none;
    color: white;
    padding: 1rem;
}

h1{
    text-align: center;
    display: inline;
}

.nav{
    background-color: rgba(168, 167, 164, 0.604);
    letter-spacing: 2.5px;
}

.dropdown1{
    display: inline;
    position: relative;

}

.dropdown2{
    display: inline;
    position: relative;
}

.menu1{
    position: absolute;
    display: none;
}

.menu2{
    position: absolute;
    display: none;
}

a:hover{
    background-color: white;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.dropdown1:hover .menu1{
    display: block;
    top: 2.7rem;
    right: 1px;
}

.dropdown2:hover .menu2{
    display: block;
    top: 2.7rem;
    right: 1px;

}

.photo img{
    height: 170px;
    width: 245px;
}

#mark{
    margin-left: 320px;
    font-size: xx-large;
}

.intro{
    font-size: 5rem;
    font-style: oblique;
    color: rgb(0, 217, 255);
    margin: 0px;
    padding: 1px;
    background-color: linear-gradient(rgb(214, 109, 109));
}

.btn{
    background-color: rgba(28, 251, 103, 0.63);
    font-size: 60px;
}

.btn a{
    text-decoration: none;
}

footer{
    text-align: right;
    padding: 20px;
    margin-top: 160px;
    margin-left: 800px;
}

#copy{
    text-decoration: none;
    color: white;
}
}
@media only screen and (max-width: 600px) {
  body {
    background-image: url('/image/2.jpg')
    background-color: yellow;
    background size: 100vh;
  }
  .nav{
    background-color: red;
    letter-spacing: 2.5px;
}

.link{
    text-decoration: none;
    color: white;
    padding: 1px;
    
}

#intro{
  margin: 0px;
  padding: 0px;
}

#intro b{
  margin-left: 100px;
  padding: 1px;
}
}